* {
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  min-height: 100vh;
  background: rgb(56,182,184);
  background: linear-gradient(75deg, rgba(56,182,184,1) 0%, rgba(45,253,184,1) 100%);
  align-items: center;
  justify-content: center;
  display: flex;
  user-select: none;
}